ody, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* lnf */
.navbar{
    background-color: darkmagenta;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding-top: 12px;
    padding-right: 15px;
    /* color: white; */
    /* overflow: hidden; */
    font-weight: bolder;
    position: sticky;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    z-index: 1000;
    

}
.navbar a{
    color: white;
    font-family: cursive;
    text-decoration: none;
}


.hero {
    position: relative;
    height: 100vh;
    background-image: url('./assets/Hero-img.jpg'); 
    background-size: cover;
    /* background-position: center; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: white;
    font-family:cursive;
align-items: center;
text-align: center;
/* background-color: beige; */
padding-left: 100px;
padding-right: 100px;
}

.text h1 {
    font-size: 4em;
    margin: 0;
}

.text p {
    font-size: 1.5em;
}
/* dlag */
.title_name{
    font-weight: bolder;
    font-style: italic;
    text-shadow: #34E89E;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
align-items: center;
text-align: center;
/* background-color: beige; */
}
.description{
    color: white;
    font-family:cursive;
align-items: center;
text-align: center;
/* background-color: beige; */
padding-left: 100px;
padding-right: 100px;
}

.foodimgcontainer img{
width:80%;
height: 500px;
align-items: center;
align-content: center;
padding-left: 130px;
padding-top: 50px;
padding-bottom: 50px;
/* background-repeat: repeat-x; */
/* padding: 50px 100; */
}
.overlay{
    display: flex;
    flex-direction: column;
}
.menu{
    align-items: center;
    text-align: center;
    /* padding-bottom: 10x; */
}
.menubutton{
background-color: blue;
color: white;
font-weight: bolder;
border-radius: 40px;
border: 5px solid white;
padding: 25px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.owner_container img{
width: 200px;
height: 200px;
border-radius: 50%;
/* align-items: center; */
/* align-content: center; */
border-color: red;
border: 5px solid rgb(26, 220, 16);

}
.owner_container{
    padding-top: 100px;
    width: 80%;
    background-color:transparent;
    display: flex;
    flex-direction:row;
    column-gap: 50px;
    /* padding-left: 30px; */
}
.info {
   
    padding-left: 30px;
    color: rgb(252, 251, 251);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.images{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   justify-content: center;
   column-gap: 10px;
   margin-left: 100px;
   margin-right: 20px;
   margin-bottom: 50px;
}
.images img{
    width: 300px;
   height: 300px;
   padding-bottom: 30px;
}
.menu-items h2{
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 35, 35);
    padding-left: 600px;
    height: 50px;
    padding-top: 20px;
    font-family: cursive;
    color: white;
}
.menu-name{
text-align: center;
/* background-color: rgb(166, 172, 172); */
}
figcaption{
padding-left: 100px;
font-family: cursive;
font-weight: bold;

}
.contact{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}